[submodule "nginx"]
	path = nginx
	url = git://github.com/catap/nginx-sysoev.git
[submodule "tests"]
	path = tests
	url = git://github.com/catap/nginx-tests.git
[submodule "modules/ngx_http_response_module"]
	path = modules/ngx_http_response_module
	url = git://github.com/catap/ngx_http_response_module.git
[submodule "modules/ngx_http_is_bot"]
	path = modules/ngx_http_is_bot
	url = git://github.com/catap/ngx_http_is_bot.git
