[submodule "nginx"]
	path = nginx
	url = git://github.com/catap/nginx-sysoev.git
[submodule "tests"]
	path = tests
	url = git://github.com/catap/nginx-tests.git
[submodule "modules/ngx_http_response_module"]
	path = modules/ngx_http_response_module
	url = git://github.com/catap/ngx_http_response_module.git
[submodule "modules/ngx_http_is_bot"]
	path = modules/ngx_http_is_bot
	url = git://github.com/catap/ngx_http_is_bot.git
[submodule "modules/ngx_http_rnd_filter_module"]
	path = modules/ngx_http_rnd_filter_module
	url = git://github.com/catap/ngx_http_rnd_filter_module.git
[submodule "modules/ngx_http_hash"]
	path = modules/ngx_http_hash
	url = git://github.com/catap/ngx_http_hash.git
[submodule "modules/ngx_http_limit_var_module"]
	path = modules/ngx_http_limit_var_module
	url = git://github.com/catap/ngx_http_limit_var_module.git
[submodule "modules/ngx_http_dump_config_module"]
	path = modules/ngx_http_dump_config_module
	url = git://github.com/catap/ngx_http_dump_config_module.git
[submodule "modules/ngx_http_auth_request_module"]
	path = modules/ngx_http_auth_request_module
	url = git://github.com/catap/ngx_http_auth_request_module.git
[submodule "modules/ngx_http_bytes_filter_module"]
	path = modules/ngx_http_bytes_filter_module
	url = git://github.com/catap/ngx_http_bytes_filter_module.git
[submodule "modules/ngx_http_compose_filter_module"]
	path = modules/ngx_http_compose_filter_module
	url = git://github.com/catap/ngx_http_compose_filter_module.git
[submodule "modules/ngx_http_gunzip_filter_module"]
	path = modules/ngx_http_gunzip_filter_module
	url = git://github.com/catap/ngx_http_gunzip_filter_module.git
[submodule "modules/ngx_http_ip_tos_filter_module"]
	path = modules/ngx_http_ip_tos_filter_module
	url = git://github.com/catap/ngx_http_ip_tos_filter_module.git
[submodule "modules/ngx_http_upstream_keepalive"]
	path = modules/ngx_http_upstream_keepalive
	url = git://github.com/catap/ngx_http_upstream_keepalive.git
